{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   {{form_start(form)}}
   {{form_row(form.laFormuleSC)}}
   {{form_row(form.modele)}}
   <input type='date' id="departPrevuD" name="departPrevuD" disabled>
   <input type='time' id="departPrevuH" name="departPrevuH" disabled>
   {{form_end(form)}}
</div>
{% endblock %}

{% block javascripts %}
<script>
    
  $('#loc_sans_chauff_type_form_modele').change(function () {
    
    choice = $(this).children('option:selected').val()    
    
    if(choice !="" ){$('#departPrevuD').removeAttr('disabled');}
    else{$('#departPrevuD').attr('disabled','disabled');}    
  });
  $('#departPrevuD').change(function(){
    value=$(this).val().length;
    console.log(value);
    if(value==10){$('#departPrevuH').removeAttr('disabled');}
    else{$('#departPrevuH').attr('disabled','disabled');}
  });

  console.log($('#departPrevuD').val())

</script>
{% endblock %}
